<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.example.staff.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/homeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeCreateServlet</servlet-name>
        <servlet-class>org.example.staff.controller.EmployeeCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeCreateServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListEmployesServlet</servlet-name>
        <servlet-class>org.example.staff.controller.ListEmployesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployesServlet</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>org.example.staff.controller.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>org.example.staff.controller.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

</web-app>
